
.navLinkContainer{
    display: inline-block;
    margin: auto;
    padding: 5px
}

.theHome{
    display: none !important;
}

.navLinkContainer a{
    text-transform: capitalize;
    padding: 5px 23px;
    text-decoration: none;
    font-size: 16px;
    color: unset;
    font-weight: 500;

}

.getInTouch{
    background: #000;
    text-transform: capitalize;
    color: #fff;
    padding: 7px 0px !important;
    font-size: 15px;
}

@media all and (width<= 900px) {
    .hideThis{
        display: none !important;
    }

    .theHome{
        display: unset !important;

    }
    
}


